/* Applist.css
 custom CSS to make the app list look nicer*/

 details > summary {
    cursor: pointer;
  }

summary {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

details {
    line-height: 1.8em;
}

summary span.category, summary span.framework, summary span.mobile_compatibility {
    font-weight: normal !important;
    /*margin-left: 1em;*/
    font-size: 0.9em;
    line-height: 1.7em;
}

summary span.name {
    font-weight: bold;
    flex: 1 0 40%;
}

summary span.framework {
    flex: 1 0 20%;
}

summary span.mobile_compatibility {
    flex: 1 0 8%;
}

summary span.category {
    flex: 1 0 20%;
}

details ul {
    list-style-type: none;
}

details ul li span {
    font-weight: bold;
}

ul.titles {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
}

ul.titles li {
    display: i;
    width: 24%;
    /* white-space: nowrap;*/
    font-size: 0.8em;
    line-height: 0.9em;
}

footer p, header p {
    text-align:center;
}

summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details summary::before { 
    content:"+  "; 
    color: green; 
}

details[open] summary::before { 
    content:"-  "; 
    color: red 
}
